.footer__container {
    background-color: #000;
    min-height: 70vh;
    color: #fff;
}

.footer__text__header {
    font-size: 58px;
    font-weight: 500;
    margin-top: 10rem;
}

.email__link {
    font-weight: 500;
    font-size: 38px;
    padding-top: 2rem;
}

.footer__links {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer__links ul {
    display: flex;
    flex-direction: column;
}

li {
    padding-bottom: 1rem;
}

.footer__links img {
    width: 30%;
    height: auto;
    padding: 2rem 1rem 0 0;
}

.disclaimer {
    
    font-size: 14px;
}