.about__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__image {
    width: 40%;
}

.about__image img {
    max-width: 90%;
    height: auto;
    display: block;
    transform: rotate(140deg);
}