* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-bg);
    font-family: 'Raleway', sans-serif;
}

ul {
    list-style: none;
}

.container {
    max-width: 65%;
    margin: 0 auto;
}

.text__container {
    width: 40%;
}

.text__header {
    font-size: 58px;
    font-weight: 500;
    padding-bottom: 2rem;
}

.text__body {
    font-size: 20px;
    line-height: 1.8rem;
}

p {
    letter-spacing: 0.03rem;
}